.dropdown-container {
  position: relative;
}

.dropdown {
  z-index: 7;
  overflow: hidden;
  position: absolute;
  right: 0;
  display: none;
  flex-direction: column;
  min-width: 160px;
  border-radius: 8px;
  transform: translateY(var(--space-md));
  background-color: var(--color-grey-40);
  box-shadow:
    0 1px 2px 0 var(--color-black-16),
    0 2px 4px 0 var(--color-black-8),
    0 4px 8px 0 var(--color-black-4),
    0 8px 16px 0 var(--color-black-2);
  white-space: nowrap;

  &.reveal {
    display: flex;
    opacity: 0;
    visibility: hidden;

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    &.top {
      top: 0;
      transform: translateY(calc(-100% - var(--space-md)));
    }
  }
}
