@import "../../styles/mixins.scss";

.file-card {
  display: flex;
  padding: var(--space-xl);
  border-radius: 8px;
  background-color: var(--color-grey-70);
  border: 1px solid var(--color-grey-50);

  @include breakpoint-sm {
    padding: var(--space-md);
  }
}

.file-card-left {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 108px;
  height: 160px;
  margin-right: var(--space-xl);
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--color-grey-40);
  background-color: var(--color-grey-50);

  @include breakpoint-sm {
    margin-right: var(--space-md);
  }
}

.file-card-link {
  position: relative;

  &:hover, &:focus-visible {
    .file-card-image {
      transform: scale(1.04);
      opacity: 0.4;
    }

    .file-card-icon {
      opacity: 1;
    }
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--color-primary);
  }
}

.file-card-icon {
  position: absolute;
  opacity: 0;
  width: 48px;
  height: 48px;
  color: var(--color-white-80);
  transition: 0.2s opacity;
}

.file-card-image {
  display: block;
  max-width: 100%;
  transition: 0.2s transform, 0.2s opacity;
}

.file-card-info {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex-grow: 1;
}

.file-card-local-icon {
  display: inline;
  margin-right: var(--space-sm);
  transform: translateY(var(--space-xs));
}

.file-card-title {
  @include truncate-second-line;

  word-break: break-word;
  font-size: var(--text-sm);
  font-weight: 500;
}

.file-card-title-inner {
  word-break: break-all;
}

.file-card-author {
  margin-top: var(--space-sm);
  font-size: var(--text-xs);
  font-weight: 500;
}

.file-card-secondary-info {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
  font-size: var(--text-xs);
  color: var(--color-grey-10);
}

.file-card-secondary-info-item {
  margin-bottom: var(--space-sm);
}

.file-card-filename {
  @include truncate-second-line;

  word-break: break-all;
}

.file-card-progress-container {
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: auto;
}

.file-card-progress {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--color-grey-30);
}

.file-card-progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  height: 12px;
  width: 2px;
  transform: translateY(-50%);
  background-color: var(--color-grey-30);
}

.file-card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-sm);
}
