.notification {
  display: flex;
  align-items: center;
  padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-md);
  border-radius: 999px;
  background-color: var(--notification-background-color);
  box-shadow: 0 0 0 1px var(--notification-color);
  color: var(--notification-color);
  font-size: var(--text-sm);

  &.expanded {
    align-items: flex-start;
    border-radius: 4px;

    .notification-icon {
      margin-top: var(--space-xs);
    }

    .notification-expandable-content-container {
      margin-top: var(--space-sm);
      margin-bottom: 0;
    }
  }

  &.margin-top {
    margin-top: var(--space-xl);
  }

  &.margin-bottom {
    margin-bottom: var(--space-xl);
  }

  &.negative {
    --notification-background-color: var(--color-negative-20-10);
    --notification-color: var(--color-negative-20);

    &.flash {
      animation-name: flash-negative;
    }
  }

  &.flash {
    animation-duration: 0.32s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
  }
}

.notification-expandable-content-container {
  margin: var(--space-xs) var(--space-md);
}

.notification-expandable-content {
  display: flex;
  align-items: center;
}

.notification-icon {
  flex-shrink: 0;
}

.notification-text {
  margin: var(--space-xs) var(--space-sm);
}

.notification-btn {
  color: inherit;

  &:hover, &:focus-visible {
    --background-color: var(--notification-background-color);
  }
}

.notification-expand-btn {
  padding: 0;
  margin-left: var(--space-md);
}

.notification-dismiss-btn {
  margin-left: auto;
}

@keyframes flash-negative {
  50% {
    --notification-color: var(--color-negative-10);
  }
  100% {
    --notification-color: var(--color-negative-20);
  }
}
