.file-info {
  left: -4px;
  right: auto;
  flex-direction: row;
  width: 460px;
  padding: var(--space-xl);
  transform: translateY(calc(var(--space-md) + var(--space-xs)));
  white-space: normal;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    width: 320px;
  }
}

.file-info-image-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 108px;
  height: 160px;
  margin-right: var(--space-xl);
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--color-grey-40);
  background-color: var(--color-grey-50);

  @media (max-width: 480px) {
    width: auto;
    height: auto;
    margin-right: 0;
    margin-bottom: var(--space-xl);
  }
}

.file-info-image {
  max-width: 100%;
}

.file-info-items {
  width: 100%;
}

.file-info-item {
  margin-bottom: var(--space-md);
  text-align: center;
}

.file-info-title {
  &.filename {
    word-break: break-all;
  }
}

.file-info-filename {
  color: var(--color-grey-10);
  font-size: var(--text-xs);
  word-break: break-all;
}

.file-info-secondary {
  color: var(--color-grey-10);
  font-size: var(--text-xs);

  & span:not(:last-of-type)::after {
    content: " | ";
  }
}
