@import "../../../styles/mixins.scss";

.file-info {
  left: -4px;
  right: auto;
  flex-direction: row;
  width: 460px;
  padding: var(--space-xl);
  transform: translateY(calc(var(--space-md) + var(--space-xs)));
  white-space: normal;

  @include breakpoint-sm {
    flex-direction: column;
    width: 340px;
    padding: var(--space-md);
  }
}

.file-info-image {
  width: 108px;
  height: 160px;
  margin-right: var(--space-xl);
  border-radius: 8px;

  @include breakpoint-sm {
    margin-bottom: var(--space-md);
  }
}

.file-info-details-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-md);
  font-size: var(--text-sm);

  span:first-of-type {
    margin-right: var(--space-md);
    white-space: nowrap;
  }

  span:last-of-type {
    word-break: break-all;
  }
}
