@import "../../styles/mixins.scss";

.files {
  position: relative;
  flex-grow: 1;
  max-width: 1440px;
  width: 100%;
  padding: var(--space-xl);
  margin: 0 auto;

  @include breakpoint-md {
    padding: var(--space-xl) var(--space-md);
  }
}

.files-header {
  @include breakpoint-md {
    display: flex;
    align-items: center;
    padding-bottom: var(--space-md);
    box-shadow: 0 2px 0 0 var(--color-black-20);
  }
}

.files-sidebar-toggle-btn-container {
  display: none;

  @include breakpoint-md {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.files-header-title-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-md);

  @include breakpoint-md {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
  }
}

.files-header-title {
  width: 170px;
  margin-left: var(--space-md);
  background-image: url("../../assets/icon-text.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.files-duplicate-files {
  margin-top: var(--space-md);
}

.files-duplicate-file {
  display: flex;
  margin-bottom: var(--space-sm);
  word-break: break-all;

  &::before {
    content: "\2022";
    display: block;
    margin-right: var(--space-md);
  }
}

.files-categories-container {
  margin-bottom: var(--space-xl);

  @include breakpoint-md {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    margin-bottom: 0;
    background-color: var(--color-black-20);

    &.visible {
      display: block;
    }
  }
}

.files-sidebar {
  display: flex;
  box-shadow: 0 2px 0 0 var(--color-grey-90);

  @include breakpoint-md {
    overflow: auto;
    display: block;
    width: 200px;
    height: 100%;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.16),
                2px 0 4px 0 rgba(0, 0, 0, 0.08),
                4px 0 8px 0 rgba(0, 0, 0, 0.04),
                8px 0 16px 0 rgba(0, 0, 0, 0.02);
    background-color: var(--color-grey-50);
  }
}

.files-sidebar-title-container {
  display: none;

  @include breakpoint-md {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-xl) var(--space-md) var(--space-md) var(--space-md);
  }
}

.files-sidebar-title {
  width: 100%;
  background-image: url("../../assets/icon-text.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.files-categories {
  display: flex;
  margin-right: auto;

  @include breakpoint-md {
    display: block;
    margin-right: auto;
    padding: var(--space-md) 0;
    margin: var(--space-md) 0;
    border-top: 1px solid var(--color-grey-70);
    border-bottom: 1px solid var(--color-grey-70);
  }
}

.files-category-btn {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  border-radius: 0;
  color: var(--color-grey-10);

  &:hover, &.focus-visible {
    --background-color: transparent;

    color: var(--color-white);
  }

  &.active {
    box-shadow: 0 2px 0 0 var(--color-primary);
    color: var(--color-white);

    &.focus-visible {
      outline: 1px solid var(--color-primary);
    }
  }

  @include breakpoint-md {
    width: 100%;
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);

    span:first-of-type {
      margin-left: var(--space-xl);
    }

    span:nth-child(3) {
      margin-left: auto;
    }

    &.active {
      width: calc(100% - 1px);
      margin-right: 1px;
      box-shadow: inset 4px 0 0 0 var(--color-primary);
    }
  }
}

.files-import-btn {
  border-radius: 0;
  color: var(--color-grey-10);

  &:hover, &:focus-within {
    --background-color: transparent;

    color: var(--color-white);
  }

  &:focus-within {
    box-shadow: 0 0 0 1px var(--color-primary);
  }

  @include breakpoint-md {
    display: flex;
    justify-content: flex-start;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 0;

    span {
      margin-left: var(--space-xl);
    }
  }
}

.files-settings-toggle-btn {
  padding: var(--space-md);

  @include breakpoint-md {
    display: none;
  }
}

.files-settings {
  min-width: 200px;
  padding-bottom: var(--space-md);

  @include breakpoint-md {
    display: flex;
    position: static;
    box-shadow: none;
    background-color: transparent;
  }
}

.files-settings-layout {
  display: flex;
  border-bottom: 1px solid var(--color-grey-50);
  color: var(--color-grey-10);

  @include breakpoint-md {
    display: none;
  }
}

.files-settings-layout-item {
  flex-grow: 1;
  border-radius: 0;
  color: var(--color-grey-10);

  &:first-of-type {
    border-right: 1px solid var(--color-grey-50);
  }

  &:hover, &.focus-visible {
    --background-color: var(--color-grey-50);

    color: var(--color-white);
  }

  &.focus-visible {
    box-shadow: inset 0 0 0 1px var(--color-primary);
  }

  &.active {
    --background-color: var(--color-grey-60);

    color: var(--color-white);
  }
}

.files-settings-show-categories-setting {
  padding: var(--space-md);
  margin-top: var(--space-md);
  font-size: var(--text-sm);

  @include breakpoint-md {
    margin-top: 0;
    padding-top: var(--space-xl);
    padding-left: var(--space-xl);
    border-top: 1px solid var(--color-grey-70);
    color: var(--color-grey-10);

    .checkbox {
      margin: 0 var(--space-xs);
    }

    .checkbox-label {
      margin-left: var(--space-xl);
    }
  }
}

.files-category-name {
  display: flex;
  align-items: center;
  margin-top: var(--space-xxxl);
  font-size: var(--text-lg);
  color: var(--color-grey-10);

  span {
    margin-left: var(--space-md);
  }
}

.files-cards {
  --max-item-width: 400px;

  display: grid;
  gap: var(--space-xl);
  grid-template-columns: repeat(auto-fill, minmax(var(--max-item-width), 1fr));
  margin-top: var(--space-xl);

  &.list {
    grid-template-columns: auto;
  }

  @include breakpoint-md {
    grid-template-columns: auto;
  }
}

.files-file-card-dropdown-group {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-md);

  &:not(:last-of-type) {
    padding-bottom: var(--space-md);
    border-bottom: 1px solid var(--color-grey-50);
  }
}

.files-file-card-dropdown-group-title {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
  margin-bottom: var(--space-md);
  border-bottom: 1px solid var(--color-grey-50);
  font-size: var(--text-sm);
  text-align: center;
}

.files-file-card-dropdown-btn {
  justify-content: flex-start;
  width: 100%;
  padding: var(--space-md);
  border-radius: 0;
  color: var(--color-grey-10);

  &:hover, &.focus-visible {
    background-color: var(--color-grey-50);
    color: var(--color-white);
  }

  &.active {
    background-color:var(--color-grey-60);
    color: var(--color-white);
  }
}

.files-empty-category-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--text-xl);
  white-space: nowrap;
}
