@import url("./fonts.css");
@import url("./variables.css");

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: 500;
}

svg {
  box-sizing: content-box;
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button, input, select {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--color-grey-80);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex-grow: 1;
  width: 100%;
  max-width: 1440px;
  padding: var(--space-xl);
  margin: 0 auto;

  @media (width <= 900px) {
    padding: var(--space-md);
  }
}

:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 1px var(--color-primary);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-30);
}

.input {
  --background-color: var(--color-grey-70);

  padding: var(--space-md) var(--space-lg);
  border-radius: 999px;
  background-color: var(--background-color);
  font-size: var(--text-sm);

  &::placeholder {
    color: var(--color-grey-10);
  }

  &:disabled {
    color: var(--color-grey-10);
  }
}

.btn {
  --background-color: var(--color-grey-40);

  padding: var(--space-md) var(--space-xl);
  border-radius: 999px;
  background-color: var(--background-color);
  font-size: var(--text-sm);
  white-space: nowrap;
  transition: 0.1s background-color, 0.1s color;
  cursor: pointer;

  &:hover, &:focus-visible {
    --background-color: var(--color-grey-30);
  }

  &:disabled {
    color: var(--color-grey-30);

    &:hover {
      --background-color: var(--color-grey-40);

      color: var(--color-grey-30);
      cursor: default;
    }
  }
}

.icon-text-btn {
  --background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    margin-left: var(--space-md);
  }
}

.icon-btn {
  --background-color: transparent;

  padding: var(--space-sm);
  border-radius: 50%;
  color: var(--color-grey-10);

  &:hover, &:focus-visible {
    color: var(--color-white);
  }

  &:disabled:hover {
    --background-color: transparent;
  }
}

.icon-btn-alt {
  &:hover, &:focus-visible {
    --background-color: transparent;
  }
}

.text-btn {
  --background-color: transparent;

  &:hover, &:focus-visible {
    --background-color: var(--color-grey-40);
  }
}

.text-btn-alt {
  color: var(--color-grey-10);

  &:hover, &:focus-visible {
    --background-color: transparent;

    color: var(--color-white);
  }
}

.primary-btn {
  --background-color: var(--color-primary);

  box-shadow:
    0 1px 2px 0 var(--color-black-16),
    0 2px 4px 0 var(--color-black-8),
    0 4px 8px 0 var(--color-black-4),
    0 8px 16px 0 var(--color-black-2);

  &:hover, &:focus-visible {
    --background-color: var(--color-primary-10);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--color-white);
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-input {
  &:checked + .checkbox .checkbox-tick {
    display: block;
  }

  &:focus-visible + .checkbox {
    box-shadow: 0 0 0 1px var(--color-primary);
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--color-grey-70);
}

.checkbox-tick {
  display: none;
  width: 34%;
  height: 68%;
  border-right: 2px solid var(--color-primary-10);
  border-bottom: 2px solid var(--color-primary-10);
  transform: translate(4%, -10%) rotateZ(45deg);
}

.checkbox-label {
  margin-left: var(--space-md);
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-input {
  &:checked + .radio {
    background-color: var(--color-primary-10);
  }

  &:focus-visible + .radio {
    box-shadow: 0 0 0 1px var(--color-primary-10);
  }
}

.radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 6px solid var(--color-grey-70);
  background-color: var(--color-grey-70);
}

.radio-label {
  margin-left: var(--space-md);
}

.range-input {
  appearance: none;

  &::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 999px;
    background-color: var(--color-white-20);
  }

  &::-moz-range-track {
    height: 6px;
    border-radius: 999px;
    background-color: var(--color-white-20);
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
    transform: translateY(calc(-50% + 3px));
  }

  &::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
  }
}
