@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin truncate-second-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-30);
  }
}

@mixin breakpoint-md {
  @media (max-width: 900px) { @content; }
}

@mixin breakpoint-sm {
  @media (max-width: 480px) { @content; }
}

