:root {
  --space-unit: 8px;
  --space-xs: calc(0.25 * var(--space-unit));
  --space-sm: calc(0.5 * var(--space-unit));
  --space-md: calc(1 * var(--space-unit));
  --space-lg: calc(1.5 * var(--space-unit));
  --space-xl: calc(2 * var(--space-unit));
  --space-xxl: calc(3 * var(--space-unit));
  --space-xxxl: calc(4 * var(--space-unit));
  --space-xxxxl: calc(8 * var(--space-unit));

  --text-base-size: 1rem;
  --text-xs: calc(0.8125 * var(--text-base-size));
  --text-sm: calc(0.875 * var(--text-base-size));
  --text-md: calc(1 * var(--text-base-size));
  --text-lg: calc(1.125 * var(--text-base-size));
  --text-xl: calc(1.375 * var(--text-base-size));
  --text-xxl: calc(1.75 * var(--text-base-size));
  --text-xxxl: calc(2.5 * var(--text-base-size));

  --color-primary: hsl(260, 48%, 52%);
  --color-primary-10: hsl(260, 48%, 57%);

  --color-white: hsl(260, 8%, 96%);
  --color-white-20: hsla(260, 8%, 96%, 0.2);
  --color-white-80: hsla(260, 8%, 96%, 0.8);

  --color-grey-10: hsl(263, 2%, 66%);
  --color-grey-30: hsl(263, 4%, 34%);
  --color-grey-40: hsl(263, 4%, 25%);
  --color-grey-50: hsl(263, 4%, 22%);
  --color-grey-60: hsl(263, 4%, 20%);
  --color-grey-70: hsl(263, 5%, 18%);
  --color-grey-80: hsl(263, 5%, 14%);
  --color-grey-80-60: hsla(263, 5%, 14%, 0.6);
  --color-grey-90: hsl(263, 6%, 10%);

  --color-black-20: hsla(0, 0%, 0%, 0.2);

  --color-negative-10: hsl(0, 86%, 82%);
  --color-negative-20: hsl(0, 86%, 70%);
  --color-negative-20-10: hsla(0, 86%, 70%, 0.1);
}


