@import url("../../../styles/mixins.css");

.viewer-toolbar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  flex-shrink: 0;
  height: 40px;
  padding: var(--space-sm) 32px var(--space-sm) 0;
  background-color: var(--color-grey-70);
  transition: 0.2s transform;

  &.visible {
    display: flex;
  }

  &.hiding {
    transform: translateY(-100%);
  }
}

.view-toolbar-side {
  display: flex;
  flex-grow: 1;
  width: 50%;
  padding: 0 var(--space-md);
}

.viewer-outline-toggle-btn {
  display: none;
  margin-left: var(--space-sm);

  &.visible {
    display: block;
  }
}

.viewer-toolbar-tool-btn {
  border-radius: 0;

  &:first-of-type {
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
  }

  &:last-of-type {
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
  }
}

.viewer-toolbar-zoom {
  display: flex;
  margin-left: auto;
  border-radius: 999px;
  background-color: var(--color-grey-40);

  & .viewer-toolbar-tool-btn:first-of-type {
    @media (max-width: 480px) {
      border-right: 1px solid var(--color-grey-70);
    }
  }
}

.viewer-toolbar-zoom-select {
  padding: var(--space-xs);
  border-radius: 0;
  border-left: 1px solid var(--color-grey-70);
  border-right: 1px solid var(--color-grey-70);
  background-color: inherit;

  @media (max-width: 480px) {
    display: none;
  }
}

.viewer-toolbar-page {
  display: flex;
  align-items: center;
  margin-right: auto;
  border-radius: 999px;
  background-color: var(--color-grey-40);

  @media (max-width: 480px) {
    overflow: hidden;

    & .viewer-toolbar-tool-btn {
      display: none;
    }
  }
}

.viewer-toolbar-page-input-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--space-sm);
  padding-right: var(--space-md);
  border-left: 1px solid var(--color-grey-70);
  border-right: 1px solid var(--color-grey-70);
  font-size: var(--text-sm);
  white-space: nowrap;

  @media (max-width: 480px) {
    border: none;

    &:focus-within {
      padding-left: 0;
    }
  }
}

.viewer-toolbar-page-input {
  box-sizing: content-box;
  width: 1ch;
  height: 100%;
  padding: 0 var(--space-sm);
  border-radius: 0;
  background-color: transparent;
  text-align: right;

  &:focus {
    margin-right: var(--space-xs);
    background-color: var(--color-grey-30);

    @media (max-width: 480px) {
      padding-left: var(--space-md);
    }
  }

  @media (max-width: 480px) {
    height: 100%;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
  }
}

.viewer-toolbar-dropdown-container {
  margin-right: var(--space-sm);
}

.viewer-toolbar-dropdown {
  padding: var(--space-md) 0;
  transform: translateY(calc(var(--space-md) + var(--space-xs)));
  font-size: var(--text-sm);
}

.viewer-toolbar-dropdown-group {
  &:not(:last-of-type) {
    padding-bottom: var(--space-md);
    margin-bottom: var(--space-md);
    border-bottom: 1px solid var(--color-grey-50);
  }

  &.hidden {
    display: none;
  }
}

.viewer-toolbar-dropdown-group-alt {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}

.viewer-toolbar-dropdown-group-title {
  margin-bottom: var(--space-md);
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--color-grey-10);
}

.viewer-toolbar-dropdown-btn {
  justify-content: flex-start;
  width: 100%;
  border-radius: 0;
  color: var(--color-grey-10);

  &:hover, &:focus-visible {
    --background-color: var(--color-grey-50);

    color: var(--color-white);
  }
}

.viewer-view-mode-btn.active {
  --background-color: var(--color-grey-60);

  color: var(--color-white);
}

.viewer-toolbar-settings-item {
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: var(--space-md);
  }
}

.viewer-themes {
  display: flex;
  margin-bottom: var(--space-xl);
}

.viewer-theme-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--color);
  font-weight: bold;
  color: var(--color);

  &:not(:last-of-type) {
    margin-right: var(--space-xl);
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary);
  }

  &.black {
    --background-color: black;
    --color: white;
  }

  &.white {
    --background-color: white;
    --color: black;
  }

  &.grey {
    --background-color: #1d1c1b;
    --color: white;
  }

  &.orange {
    --background-color: #fbf0d9;
    --color: black;
  }
}

.viewer-toolbar-dropdown-range-input {
  width: 100%;
}

.viewer-toolbar-toggle-btn {
  z-index: 2;
  position: fixed;
  top: 6px;
  right: var(--space-sm);
  transition: 0.2s transform;

  &:hover, &:focus-visible {
    --background-color: rgba(255 255 255 / 10%);
  }
}
