.no-files-notice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-files-notice-message-container {
  margin-bottom: var(--space-xxxl);
  text-align: center;
  white-space: nowrap;
}

.no-files-notice-message-main {
  margin-bottom: var(--space-md);
  font-size: var(--text-xxl);
}

.no-files-notice-message {
  font-size: var(--text-lg);
}

.no-files-notice-btn {
  &:focus-within {
    box-shadow: inset 0 0 0 2px var(--color-white);
  }
}
