@import "../../styles/mixins.scss";

:root {
  --max-width: 800px;
}

.stats-header {
  justify-content: center;

  @include breakpoint-md {
    margin-bottom: var(--space-md);
  }
}

.stats-view-selection {
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
  margin: 0 auto var(--space-xl) auto;
  box-shadow: 0 2px 0 0 var(--color-grey-90);

}

.stats-view-selection-btn {
  --background-color: transparent;

  min-width: 80px;
  border-radius: 0;
  color: var(--color-grey-10);

  &:hover {
    --background-color: transparent;

    color: var(--white);
  }

  &.active {
    color: var(--white);
    box-shadow: 0 2px 0 0 var(--color-primary);
  }
}

.stats-graph-container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;

  &:not(:last-of-type) {
    margin-bottom: var(--space-xl);
  }
}

.stats-graph-title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-md);
}

.stats-graph-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: var(--text-md);
  font-weight: 500;
  color: var(--color-grey-10);

  @include breakpoint-md {
    font-size: var(--text-sm);
  }
}

.stats-graph {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 240px;
  padding: var(--space-md);
  border-radius: 8px;
  background-color: var(--color-grey-60);

  @include breakpoint-md {
    height: 200px;
  }
}

.stats-graph-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;

  &:hover {
    .stats-graph-item-duration {
      display: block;
    }
  }
}

.stats-graph-item-bar-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.stats-graph-item-duration {
  z-index: 1;
  position: absolute;
  left: 50%;
  display: none;
  transform: translate(-50%, calc(-1 * var(--space-sm)));
  white-space: nowrap;
  font-size: var(--text-xs);
  color: var(--color-grey-10);
}

.stats-graph-item-bar {
  width: 16px;
  min-height: 1%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--color-primary);
  transform-origin: bottom;
  transform: scaleY(0);
  animation-name: scale-v;
  animation-delay: 0.4s;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  transition: 0.4s height;

  @include breakpoint-md {
    width: 12px;
  }
}

.stats-graph-item-label {
  width: 100%;
  padding-top: var(--space-md);
  border-top: 1px solid var(--color-grey-80);
  text-align: center;
  font-size: var(--text-xs);
  font-weight: 500;
  color: var(--color-grey-10);

  &.active {
    color: var(--color-white);
  }
}

@keyframes scale-v {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
