.viewer-pdf {
  padding-top: 40px;

  &.invert .viewer-page {
    filter: invert(100%);
  }

  ::selection {
    color: transparent;
    background-color: var(--color-primary);
  }
}

.viewer-page {
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  margin: 0 auto calc(var(--space-md) * -1) auto;
  border: var(--space-md) solid transparent;
  background-color: white;
  background-clip: content-box;
}

.viewer-page-canvas {
  display: block;
}

.viewer-page-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;

  & > span {
    position: absolute;
    white-space: pre;
    color: transparent;
    cursor: text;
    transform-origin: 0% 0%;
  }
}

.viewer-annotation-layer {
  section {
    position: absolute;

    a {
      position: absolute;
      font-size: 1em;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: var(--color-primary);
        opacity: 0.2;
      }
    }
  }
}
