@import "../../styles/mixins.scss";

.viewer {
  &.offset {
    padding-top: 40px;
  }

  &.invert {
    .viewer-page, .epub-container {
      filter: invert(100%);
    }
  }

  ::selection {
    color: transparent;
    background-color: var(--color-primary);
  }
}

.viewer-page {
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  margin: 0 auto calc(var(--space-md) * -1) auto;
  border: var(--space-md) solid transparent;
  background-color: white;
  background-clip: content-box;

  &.hidden {
    display: none;
  }
}

.viewer-page-canvas {
  display: block;
}

.viewer-page-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;

  & > span {
    position: absolute;
    white-space: pre;
    color: transparent;
    cursor: text;
    transform-origin: 0% 0%;
  }
}

.viewer-annotation-layer {
  section {
    position: absolute;

    a {
      position: absolute;
      font-size: 1em;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: var(--color-primary);
        opacity: 0.2;
      }
    }
  }
}

.viewer-navigation-btn {
  position: fixed;
  bottom: var(--space-md);
  display: none;

  &:hover {
    --background-color: transform;
    color: var(--color-grey-10);
  }

  &.previous {
    left: var(--space-md);
  }

  &.next {
    right: var(--space-md);
  }

  @media only screen and (hover: none) and (pointer: coarse) {
    &.visible {
      display: block;
    }
  }

  @include breakpoint-sm {
    &.visible {
      display: block;
    }
  }
}

.viewer-outline-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: var(--color-black-20);

  &.visible {
    display: block;
  }
}

.viewer-outline {
  @include scrollbar;

  overflow-y: auto;
  width: 240px;
  height: 100%;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  border-top: 40px solid var(--color-grey-60);
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.16),
              2px 0 4px 0 rgba(0, 0, 0, 0.08),
              4px 0 8px 0 rgba(0, 0, 0, 0.04),
              8px 0 16px 0 rgba(0, 0, 0, 0.02);
  background-color: var(--color-grey-60);

  &.has-inner-tree {
    .viewer-outline-item {
      padding: var(--space-sm);

      & > .viewer-outline-link {
        margin-left: 28px;
      }
    }
  }
}

.viewer-outline-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 32px;
  padding: var(--space-sm) var(--space-md);
}

.viewer-outline-tree-toggle-btn {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: var(--space-sm);

  &.rotated {
    transform: rotateZ(-90deg);
  }

  & + .viewer-outline-link {
    margin-left: 0;
  }
}

.viewer-outline-link {
  font-size: var(--text-sm);

  &:hover, &.focus-visible {
    text-decoration: underline;
  }
}

.viewer-outline-inner-tree {
  display: none;
  width: 100%;

  &.visible {
    display: block;

  }
}

.epub-container {
  margin: 0 auto;
  background-color: white;

  &.theme-black {
    background-color: black;
  }

  &.theme-grey {
    background-color: #1d1c1b;
  }

  &.theme-orange {
    background-color: #FBF0D9;
  }
}
