.viewer {
  &.visible {
    min-height: 100%;
  }

  &.invert {
    & .viewer-page {
      filter: invert(100%);
    }
  }

  &::selection {
    color: transparent;
    background-color: var(--color-primary);
  }

  &.theme-white {
    background-color: white;
  }

  &.theme-black {
    background-color: black;
  }

  &.theme-grey {
    background-color: #1d1c1b;
  }

  &.theme-orange {
    background-color: #fbf0d9;
  }
}

.viewer-page {
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  margin: 0 auto calc(var(--space-md) * -1) auto;
  border: var(--space-md) solid transparent;
  background-color: white;
  background-clip: content-box;

  &.hidden {
    display: none;
  }
}

.viewer-page-canvas {
  display: block;
}

.viewer-page-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.25;
  line-height: 1;
  text-align: initial;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: 0% 0%;

  & > span {
    position: absolute;
    white-space: pre;
    color: transparent;
    cursor: text;
    transform-origin: 0% 0%;
  }
}

.viewer-annotation-layer {
  & section {
    position: absolute;

    & a {
      position: absolute;
      font-size: 1em;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: var(--color-primary);
        opacity: 0.2;
      }
    }
  }
}

.viewer-outline-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: var(--color-grey-80-60);

  &.visible {
    display: block;
  }
}

.viewer-outline {
  overflow-y: auto;
  width: 240px;
  height: 100%;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  border-top: 40px solid var(--color-grey-60);
  box-shadow:
    1px 0 2px 0 var(--color-black-16),
    2px 0 4px 0 var(--color-black-8),
    4px 0 8px 0 var(--color-black-4),
    8px 0 16px 0 var(--color-black-2);
  background-color: var(--color-grey-60);
}

.viewer-outline-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 32px;
  padding: var(--space-sm);
}

.viewer-outline-item-title {
  display: flex;
  align-items: center;
}

.viewer-outline-tree-toggle-btn {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: var(--space-sm);

  &.rotated {
    transform: rotateZ(-90deg);
  }

  & + .viewer-outline-link {
    margin-left: 0;
  }
}

.viewer-outline-link {
  margin-left: var(--space-sm);
  font-size: var(--text-sm);

  &:hover, &:focus-visible {
    text-decoration: underline;
  }
}

.viewer-outline-inner-tree {
  display: none;
  width: 100%;
  margin-left: 20px;

  &.visible {
    display: block;
  }
}

.viewer-margin-modal-icon {
  background-color: var(--color-white-20);
  box-shadow: 0 0 0 1px var(--color-white);
  color: var(--color-white);
}

.viewer-margin-modal-body {
  display: flex;
  justify-content: space-between;
}

.viewer-margin-modal-label {
  margin-left: var(--space-sm);
  margin-bottom: var(--space-md);
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--color-grey-10);
}

.viewer-margin-modal-input {
  width: 100px;
}
