.banner-image {
  height: 80px;
  margin-top: 16dvh;
  margin-bottom: 16dvh;

  @media (width <= 900px) {
    height: 72px;
    padding: 0 var(--space-xl);
    margin-top: 12dvh;
    margin-bottom: 12dvh;
  }
}
