@import "../../styles/mixins.scss";

.banner-image {
  margin-top: 16vh;
  margin-bottom: 16vh;
  max-width: 100%;
  height: 80px;

  @include breakpoint-md {
    margin-top: 12vh;
    margin-bottom: 12vh;
  }
}
