@import "../../styles/mixins.scss";

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: var(--space-md);

  @include breakpoint-md {
    justify-content: center;
    margin-bottom: 0;
  }
}

.header-title {
  width: 170px;
  background-image: url("assets/icon-text.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.header-user {
  position: absolute;
  right: 0;
}

.user-dropdown {
  max-width: 304px;
}

.user-dropdown-toggle-btn {
  padding: var(--space-md);
}

.user-email-label {
  padding: var(--space-md) var(--space-md) var(--space-md) var(--space-lg);
  color: var(--color-grey-10);
  font-size: var(--text-sm);
  font-weight: 500;
}

.user-email {
  @include text-truncate;

  padding: 0 var(--space-md) 0 var(--space-lg);
  font-weight: 500;
}

.user-dropdown-group {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-md);
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  border-top: 1px solid var(--color-grey-50);
}

.user-logout-btn {
  border-radius: 0;
  color: var(--color-grey-10);

  &:hover, &:focus-visible {
    --background-color: var(--color-grey-50);

    color: var(--color-white);
  }
}
