@import "../../styles/mixins.scss";

.no-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-xl);
}

.no-match-message {
  margin-bottom: var(--space-xxxl);
  text-align: center;
  font-size: var(--text-xxl);

  @include breakpoint-md {
    font-size: var(--text-xl);
  }
}
